.jumbotron {
    background-image: url("/images/jumbotron.jpg");
    background-size: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    height: 310px;
}

.topline {
    background-color: #0282f9;
    font-size: 0.7em;
    padding: 3px 0;
}

.nav-logo {
    height: 50px;
}

.navlist li {
    display: inline-block;
    margin: 0 10px;
}

.navlink {
   text-decoration: none;
   color: 	rgb(32,32,32);
   vertical-align: middle;
   font-size: 0.8em; 
   padding-bottom: 15px;
}

.navlink:focus {
    border-bottom: 3.5px solid #0282f9;
    color: #0282f9;
    outline: none;
}

.search {
    margin-left: 40px;
    width: 100px;
    border: unset;
    border-bottom: solid 3px #0282f9;
    
}

.blueline {
    justify-content: flex-end;
    outline: none;
    color: white;
}

input::-moz-placeholder {
    text-align: right;
}

input:-ms-input-placeholder {
    text-align: right;
}

input::placeholder {
    text-align: right;
}

.arrow {
    font-size: 0.5em;
    display: inline-block;
    transform: translateY(-2px);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1080px;
    margin: auto;
}


ul {
    list-style: none;
}

.flex {
    display: flex;
}
 .m-l-50 {
     margin-left: 50px;
 }

 .flex-column {
     flex-direction: column;
 }

 .wrap {
     flex-wrap: wrap;
 }.black-ground {
    background-color: #1c1c1c;
}

.card img {
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right top;
       object-position: right top;
}

.container h3 {
    color: white;
    padding: 5px 15px;
    background-color: #0282f9;
    display: inline-block;
    transform: translateY(-15px);
}

.card {
    flex-basis: calc(100% / 6);
    padding: 10px;
}

.card p {
    margin-top: 10px;
    color: white;
}

.load {
    color: white;
    padding: 5px 40px;
    background-color: #0282f9;
    display: inline-block;
    align-self: center;
}

