.top-footer {
    background-image: url("/images/footer-bg.jpg");
    padding: 20px;
}

footer h3 {
    color: whitesmoke;
    margin-bottom: 10px;
}
footer a {
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
}

footer a:hover {
    text-decoration: underline;
}

footer .container.flex div {
    margin-right: 30px;
    margin-bottom: 20px;
} 

.sign-up {
    
    padding: 5px;
    border: 2px solid #0282f9;
    display: inline-block;
}

footer .black-ground img {
    width: 20px;
    height: 20px;
    margin: 0 8px;

}

footer .black-ground img:hover {
    transform: scale(1.2);
}