.jumbotron {
    background-image: url("/images/jumbotron.jpg");
    background-size: 100%;
    object-fit: contain;
    height: 310px;
}

.topline {
    background-color: #0282f9;
    font-size: 0.7em;
    padding: 3px 0;
}

.nav-logo {
    height: 50px;
}

.navlist li {
    display: inline-block;
    margin: 0 10px;
}

.navlink {
   text-decoration: none;
   color: 	rgb(32,32,32);
   vertical-align: middle;
   font-size: 0.8em; 
   padding-bottom: 15px;
}

.navlink:focus {
    border-bottom: 3.5px solid #0282f9;
    color: #0282f9;
    outline: none;
}

.search {
    margin-left: 40px;
    width: 100px;
    border: unset;
    border-bottom: solid 3px #0282f9;
    
}

.blueline {
    justify-content: flex-end;
    outline: none;
    color: white;
}

input::placeholder {
    text-align: right;
}

.arrow {
    font-size: 0.5em;
    display: inline-block;
    transform: translateY(-2px);
}
