.black-ground {
    background-color: #1c1c1c;
}

.card img {
    height: 150px;
    object-fit: cover;
    object-position: right top;
}

main .container h3 {
    color: white;
    padding: 5px 15px;
    background-color: #0282f9;
    display: inline-block;
    transform: translateY(-15px);
}

.card {
    flex-basis: calc(100% / 6);
    padding: 10px;
}

.card p {
    margin-top: 10px;
    color: white;
}

.load {
    color: white;
    padding: 5px 40px;
    background-color: #0282f9;
    display: inline-block;
    align-self: center;
}

.lower-sect {
    padding: 20px 0;
}

.lower-sect img {
    height: 50px;
}

.lower-sect p {
    color: white;
    font-size: 0.8em;
    margin: 0 5px;
}